<div class="events-container">
    <h2 id="events-heading">Events and Activities 2020 - 2021</h2>
    <div id="heading-underline"></div>
    
    <div class="sig-list-container">
        <div class="sig-list-left">
            <div class="sig-list-left-content">
                <div class="design-sig">
                    <span class="bullet-pt bg-light-pink"></span>
                    <p class="sig-text">SIG Design</p>
                </div>
        
                <div class="iot-sig">
                    <span class="bullet-pt bg-green"></span>
                    <p class="sig-text">SIG Internet of Things (IOT)</p>
                </div>
                
                <div class="cybersecurity-sig">
                    <span class="bullet-pt bg-yellow"></span>
                    <p class="sig-text">SIG Cybersecurity</p>
                </div>
            </div>
        </div>
    
        <div class="sig-list-right">
            <div class="sig-list-right-content">
                <div class="swe-sig">
                    <span class="bullet-pt bg-light-purple"></span>
                    <p class="sig-text">SIG Software Engineering</p>
                </div>
        
                <div class="ai-sig">
                    <span class="bullet-pt bg-neon-light-blue"></span>
                    <p class="sig-text">SIG Artificial Intelligence (AI)</p>
                </div>
        
                <div class="general-meetings">
                    <span class="bullet-pt bg-blue"></span>
                    <p class="sig-text">General Meetings</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="upcoming-events-container">
        <div class="events-top-bar">
            <div class="bullet-pt-container">
                <div class="bullet-pt bg-pink"></div>
                <div class="bullet-pt bg-yellow"></div>
                <div class="bullet-pt bg-neon-green"></div>
            </div>
            <h2 id="upcoming-events-heading">Upcoming Events</h2>
        </div>
    </div>
</div>

