$animation-time: 2s;
$animation-duration: infinite;

.home {
  background-color: var(--background);
  width: 100%;
  height: max-content;
  position: absolute;
  top: 82px;

  &__landing {
    background-color: var(--landing-background);
    width: 100%;
    height: 70vh;
    padding: 30px 0; 
    display: flex;
    justify-content: center;  
    align-items: center;
    overflow-y: hidden;

    &__content {
      width: 80%;
      height: max-content;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__left {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__sub-title {
          font-family: "Hind", sans-serif;
          font-size: 18px;
          color: var(--headline);
        }

        &__title {
          font-family: "Hind", sans-serif;
          font-size: 42px;
          font-weight: bold;
          color: var(--headline);
        }

        &__text {
          width: 80%;
          font-family: "Hind", sans-serif;
          font-size: 20px;
          color: var(--text);
        }

        &__button {
          width: max-content;
          height: max-content;
          padding: 16px 60px;

          background-color: var(--button);
          // box-shadow: -6px -6px 10px rgba(61, 169, 252, 0.2),
          //   6px 6px 10px rgba(0, 29, 53, 0.25);
          border-radius: 50px;
          cursor: pointer;
          z-index: 2;

          font-family: "Hind", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: var(--background);
          text-decoration: none;
        }
      }

      &__right {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

      }

    }

    &__animation {

      &__top-page,
      &__bottom-page {
        animation: MoveUpDown $animation-time linear $animation-duration;

        &__bar {
          animation: MoveDownUp $animation-time linear $animation-duration;
        }
      }

      &__comment {
        animation: MoveDownUp $animation-time linear $animation-duration;
      }
    }

  }

  // ----- ABOUT US -----

  &__about-us {
    display: grid;
    place-items: center;

    &__container {
      display: grid;
      grid-template-columns: 1fr minmax(535px, 25%);
      padding: 10vh 10vw;
      width: 100%;

      &__text {
        font-family: "Hind", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: var(--text-inverted);
        padding-right: 3rem;
      }

      &__image {
        width: 535px;
        height: 420px;
        position: relative;

        &__front {
          display: grid;
          place-items: center;
          border-radius: 30px;
          z-index: 2;
          overflow: hidden;
        }

        &__behind {
          background-color: var(--landing-background);
          backdrop-filter: blur(20px);
          border-radius: 50px;
          z-index: 1;
          left: 35px;
          top: 35px;
        }

        &__front,
        &__behind {
          width: 500px;
          height: 385px;
          position: absolute;
        }
      }

      @media screen and (max-width: 1300px) {
        grid-template-columns: 1fr;
        place-items: center;

        &__text {
          padding: 0 0 2rem 0;
        }
      }

      @media screen and (max-width: 500px) {
        padding: 5vh 5vw;
        place-items: start;

        &__image {
          width: 535px;
          height: 420px;
        }
      }
    }
  }

  // ----- GOALS -----

  &__goals {
    display: grid;
    place-items: center;

    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10vh 10vw;

      &__cell {
        flex-grow: 0.25;
        width: calc(50% - 10vw);
        display: flex;
        flex-direction: row;
        margin: 5vh 2vw;

        @media (max-width: 760px) {
          width: calc(100% - 10vw);
        }

        img {
          object-fit: contain;
          width: clamp(50px, 100px, 150px);
          padding-right: 30px;
        }

        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;

          &__heading {
            font-family: "Hind", cursive;
            font-size: 20px;
            line-height: 30px;
            color: var(--headline);
            padding-bottom: 10px;
          }

          &__text {
            font-family: "Hind", sans-serif;
            font-size: 16px;
            line-height: 30px;
            color: var(--text-inverted);
          }

          &__heading {
            font-style: normal;
            font-weight: 600;
          }
        }
      }
    }
  }

  // ----- SIGS -----

  &__sigs {
    display: grid;
    place-items: center;

    &__container {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      padding: 10vh 10vw;
      width: 100%;

      &__sig {
        background: var(--background);
        box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
        border-radius: 46px;
        height: auto;
        padding: 2ch 0;
        display: grid;
        grid-template-rows: minmax(100px, 30%) 1fr;
        place-items: center;

        img {
          width: clamp(100px, 150px, 200px);
        }

        p {
          font-family: "Hind", sans-serif;
          font-style: normal;
          font-size: 14px;
          line-height: 20px;
          color: var(--text-inverted);
          padding: 0 2ch;
        }
      }
    }
  }

  &__leadership {
    overflow: hidden;
    padding-top: 5%;

    &__members {
      display: grid;
      place-items: center;
      padding: 10vh 10vw;
      margin: 15vh 0;
      grid-template-columns: repeat(5, 128px);
      gap: 10px;
      justify-content: center;
      transform: rotate(45deg);

      &__profile,
      &__blank {
        width: 128px;
        height: 128px;
        border-radius: 40px;
        padding: 0;
        overflow: hidden;

        img {
          // width: 160px;
          // height: 150px;
          // margin: -15px;
          width: 120%;
          height: auto;
          margin: -11px;
          transform: rotate(-45deg);
        }
      }

      &__profile {
        background-color: grey;
      }
    }
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes MoveDownUp {
  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }
}
