.sigs {
    background-color: var(--background);
    margin-top: 45px;
    &__landing {
        background-color: var(--landing-background);
        height: calc(73vh + 7px);
        overflow-y: hidden;
        align-items: center;

        @media (max-width: 480px){
            height: auto;
            // padding: 133px 0 230px 0;

        }

        &__content {
            text-align: center;
            display: table;
            margin: 12vh auto;
            // width: 100%;
            // @media (min-width: 1110) {
            //     // margin: 0 40vw 0 40vw;
            //     &__text{

            //     }
            // }
            // margin: 14vh 15vw 0 15vw;
            // height: 70%;
            // flex-shrink: 100;
            &__title {
                // text-align: center;
                font-weight: normal;
                font-size: 72px;
                color: var(--headline);
                font-family: Bebas Neue;
                font-style: normal;
                letter-spacing: 0.08em;
            }

            &__text {
                text-align: left;
                margin-left: 1.5vw;
                max-width: 700px;
                // width: 80%;
                // vertical-align: top;
                color: var(--text);
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 21px;
                line-height: 40px;
                display: flex;
                // align-items: center;
                letter-spacing: 0.05em;
                // margin: 0 5vw 0 5vw;
            }
        }
    }

    // ---- Topics ----

    &__topics{
        &__list{
            margin: 0 10vw 0 10vw;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;
            align-items: center;
            letter-spacing: 0.08em;
            color: #000000;
            &__element{
                margin-bottom: 10vh;
                &__subtitle{
                    margin: 6vh 0 6vh 0;
                }
                &__content{
                    width: auto;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 0.3;
                    // width: calc(50% - 10vw);
                    display: flex;
                    flex-direction: row;
                    // margin: 5vh 2vw;
                    iframe{
                        // padding-right: 100px;
                        border-radius: 30px;
                        box-shadow: 5px 10px 8px #888888;
                        object-fit: contain;
                        width: 50vw;
                        height: 14vw;
                        // padding-right: 30px;
                    }
                    &__caption{
                        // width: 130vw;
                        margin-left: 3vw;
                        h4{
                            font-size: 23px;
                            // font-weight: 100px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                    // @media (max-width:900px) and (min-width:760px) {

                    // }
                    @media (max-width: 843px) {
                        display: block;
                        iframe{
                            align-items: center;
                            margin-bottom: 4vh;
                            margin-left: 13vw;
                            width: 50vw;
                            height: 20vh;
                        }
                        &__caption{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}