.sigs {
    background-color: var(--background);
    margin-top: 45px;
    &__landing {
        background-color: var(--landing-background);
        padding: 133px 0 230px 0;
        // padding-top: 133px;
        // padding-bottom: 230px;
        overflow-y: hidden;

        &__content {
            margin: 0 15vw 0 15vw;
            // margin: 0 auto;
            // width: 50vw;
            &__title {
            text-align: center;
            font-weight: normal;
            font-size: 72px;
            color: var(--headline);
            font-family: Bebas Neue;
            font-style: normal;
            letter-spacing: 0.08em;
            }

            &__text {
            vertical-align: top;
            color: var(--text);
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 40px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            margin: 0 5vw 0 5vw;
            }
        }
    }

    // ---- Topics ----

    &__topics{
        &__list{
            // position: relative;
            margin: 0 10vw 0 10vw;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;
            align-items: center;
            letter-spacing: 0.08em;

            color: #000000;
            &__element{
                &__subtitle{
                    margin: 6vh 0 6vh 0;
                }
                margin-bottom: 230px;
                &__row{
                    font-size: 15px;
                    line-height: 30px;
                    &__column{
                        // position: relative;
                        &__video,
                        &__caption{
                            float: left;
                            width: 50%;
                        }
                        &__video{
                            // position: absolute;
                            // margin: 0 5vw 0 5vw;
                            // position: absolute;
                            // top: 50%;
                            // display: flex;
                            // align-items: center;
                            overflow: hidden;
                            // width: 39vw;
                            // height: 10vh;
                            // border: 10px solid pink;
                            // border-radius: 25px;
                            // box-shadow: 0 2px 2px 2px;
                            // align-items: center;

                        }
                        &__caption{
                            // position: absolute;
                            // width: 39vw;
                            // margin: 0 5vw 0 5vw;
                            padding: 0 2vw 0 2vw;
                            h4{
                                font-size: 20px;
                            }
                            p{
                                margin-top: 2vh;
                            }
                        }
                    }
                    display: table;
                    clear: both;
                }
            }
        }
    }
}