.section-title {
  display: grid;
  place-items: center;

  &__content {
    &__text {
      padding-bottom: 1vh;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.08em;
      color: var(--section-title);
      overflow-y:hidden;
    }

    &__bar {
      width: 100%;
      height: 11px;
      background: var(--tertiary);
      backdrop-filter: blur(20px);
      border-radius: 9px;
    }
  }
}
