version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/react/ucmacm-website"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[npm]"
      include: "scope"
    target-branch: "react-rewrite"
