# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.yarn

# ENV files
*.env

# Node modules and .local
node_modules
*.local

# Vite dist directories
dev-dist
dist
dist-ssr

# Cache directories and files
.eslintcache
.tanstack

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
