.uc-merced {
    color: #f9a826;
}

.home-login-btn {
    background-color: #0093d0;

    &:hover {
        background-color: #039ed4;
    }
}

.home-sign-up-btn {
    color: #005dab;
}

.home-login-btn,
.home-sign-up-btn {
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
        12px 12px 12px 0 rgba(0, 0, 0, 0.05);
}

@media (min-width: 1024px) {
    .home-img {
        top: 10rem;
        right: 4rem;
    }
}

@media (min-width: 1280px) {
    .home-img {
        top: 10rem;
        right: 10rem;
    }
}

.about-us-title {
    color: #f9a826;
}

.about-us-icons {
    background-color: #f9a826;
}

.what-we-offer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .smiley__face {
        padding: 10px;
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 170px;
        height: 190px;
        border: 12px solid #2c3e50;
        background: #ffffff;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;

        .face {
            background: #f1c40f;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 120px;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            z-index: 1;

            .event {
                font: Roboto;
                position: relative;
            }

            .eyes {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 20px;
                width: 60%;

                .eye {
                    background: #2c3e50;
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50px;
                }
            }

            .mouth {
                display: block;
                width: 32px;
                height: 20px;
                background: #2c3e50;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                position: relative;
                overflow: hidden;

                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 10px;
                    border-radius: 50%;
                    background: #e74c3c;
                    position: absolute;
                    left: 50%;
                    bottom: 2px;
                    transform: translateX(-50%);
                }
            }
        }

        &.smiley__face--01 {
            z-index: 3;
        }

        &.smiley__face--01:hover {
            transform: scale(1.5);
        }

        &.smiley__face--02:hover,
        &.smiley__face--03:hover {
            transform: scale(1.5);
            z-index: 4;
        }

        &.smiley__face--02,
        &.smiley__face--03 {
            z-index: 2;
        }

        &.smiley__face--02 {
            transform: rotate(-25deg) translate(-100px, -8px) scale(0.9);

            .face {
                background: #3498db;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 70%;
                    height: 100%;
                    background: #0abde3;
                    z-index: -1;
                    transform: skewX(-25deg) translateX(-30%);
                }
            }
        }

        &.smiley__face--03 {
            transform: rotate(25deg) translate(100px, -8px) scale(0.9);
            .face {
                background: #ff7f50;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 70%;
                    height: 100%;
                    background: #ff6348;
                    z-index: -1;
                    transform: skewX(25deg) translateX(-30%);
                }
            }
        }

        .wwo-pill {
            width: 80%;
            align-items: center;
            justify-content: center;
            border-radius: 0.5em;
            background-color: #ebf4ff;
            color: #005dab;
            margin-top: 0.3rem;
            box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        }
    }

    .underground {
        display: block;
        width: 200px;
        margin: 0 auto;
        height: 1px;
        border: 6px solid #2c3e50;
        position: relative;
        transform: translateY(180px);
        border-radius: 50px;
    }

    .sparkles {
        position: absolute;
        display: block;
        width: 500px;
        height: 80%;

        .star {
            display: block;
            width: 50px;
            height: 50px;
            margin: 20px;
            position: absolute;
            overflow: hidden;

            &::before {
                content: "";
                display: block;
                width: 80%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                border: 4px solid #2c3e50;
                border-radius: 50px;
            }

            &::after {
                content: "";
                display: block;
                height: 80%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border: 4px solid #2c3e50;
                border-radius: 50px;
            }

            &.star--01 {
                top: 10%;
                left: 30%;
                transform: translate(-30%, -10%) scale(0.4);

                &::before {
                    border-color: #f1c40f;
                }

                &::after {
                    border-color: #f1c40f;
                }

                &::before,
                &::after {
                    border-width: 6px;
                }
            }

            &.star--02 {
                top: 20%;
                left: 90%;
                transform: translate(-90%, -20%) scale(0.3);

                &::before {
                    border-color: #3498db;
                }

                &::after {
                    border-color: #3498db;
                }

                &::before,
                &::after {
                    border-width: 6px;
                }
            }

            &.star--03 {
                top: 2%;
                left: 60%;
                transform: translate(-60%, -2%) scale(0.7);

                &::before {
                    border-color: #ff7f50;
                }

                &::after {
                    border-color: #ff7f50;
                }

                &::before,
                &::after {
                    border-width: 5px;
                }
            }
        }

        .circle {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: #f1c40f;
            position: absolute;

            &.circle--01 {
                border: 10px solid #f1c40f;
                background: transparent;
                top: 10%;
                left: 15%;
                transform: translate(-15%, -10%) scale(0.5);
            }

            &.circle--02 {
                background: transparent;
                border: 15px solid #3498db;
                top: 40%;
                left: 100%;
                transform: translate(-100%, -40%) scale(0.2);
            }

            &.circle--03 {
                background: #ff7f50;
                top: 30%;
                left: 8%;
                transform: translate(8%, -30%) scale(0.3);
            }

            &.circle--04 {
                top: 70%;
                left: 0%;
                transform: translate(0%, -70%) scale(0.2);
            }
        }
    }
}

.contact-us {
    margin-left: 7%;

    @media (min-width: 640px) {
        margin-left: 15%;
    }

    @media (min-width: 768px) {
        margin-left: 30%;
    }

    &-submit {
        background-color: #0093d0;
    }
}
