<div
  class="min-h-screen flex items-center justify-center py-12 bg-gray-50 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full">
    <div>
      <img
        class="mx-auto h-12 w-auto"
        src="assets/img/undraw_male_avatar.svg"
        alt="Temporary Image for Login Page"
      />
      <h2
        class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900"
      >
        Member Sign Up Page
      </h2>
      <p class="mt-2 text-center text-sm leading-5 text-gray-600">
        <a
          [routerLink]="['/login']"
          routerLinkActive="active"
          class="already-member font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150"
        >
          Already a Member?
        </a>
      </p>
    </div>
    <form class="mt-8" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md shadow-sm">
        <div>
          <input
            formControlName="firstName"
            aria-label="First Name"
            name="first-name"
            type="text"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="First Name"
          />
        </div>
        <div class="-mt-px">
          <input
          formControlName="lastName"
            aria-label="Last Name"
            name="last-name"
            type="text"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="Last Name"
          />
        </div>
        <div class="-mt-px">
          <input
            formControlName="email"
            aria-label="Email address"
            name="email"
            type="email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="UC Merced Email address"
          />
        </div>
        <div class="-mt-px">
          <input
            formControlName="password"
            aria-label="Password"
            name="password"
            type="password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="Password"
          />
        </div>
        <div class="-mt-px">
          <input
            formControlName="id"
            aria-label="Student ID"
            name="student-id"
            type="number"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
            placeholder="UC Merced Student ID"
          />
        </div>
      </div>

      <div class="mt-6">
        <button
          type="submit"
          class="login-submit-btn group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
          [disabled]="!signUpForm.valid"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg
              class="login-lock h-5 w-5 group-hover:text-indigo-400 transition ease-in-out duration-150"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
