<div class="projects-display">
  <div class="jumbotron">
    <h1 class="display-4">Projects at ACM</h1>
    <p class="lead">ACM offers many projects to advance your CSE Skills and your Resume</p>

  </div>


  <div class="grid grid-cols-3 gap-4">
    <div>
      <div class="o-card o-card--mod-small">
        <div class="c-card">
          <img class="c-card_image" src="ACM.png" alt="Card Image">
          <div class="c-card_body">
            <h2 class="c-card_title">ACM Website
              <button id="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                GitHub
              </button>
            </h2>
            <h5 class="c-card_secondary-title"></h5>
            <hr>


            <p class="c-card_text">
              Build a Robust Website for the Club
            </p>

            <div class="grid grid-cols-2 gap-6">
              <div>

                <h5 class="list-title"> Front End </h5>
                <ul class=frontEnd>
                  <li class="list"> Angular</li>
                  <li class="list"> Yarn</li>
                  <li class="list"> HTML</li>
                  <li class="list"> CSS</li>
                </ul>
              </div>

              <div>
                <h5 class="list-title"> Back End</h5>
                <ul class=backEnd>
                  <li class="list"> NGRX</li>
                  <li class="list"> Databases</li>
                  <li class="list"> Node.js</li>
                </ul>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ... -->
    <div>
      <div class="o-card o-card--mod-small">
        <div class="c-card">
          <img class="c-card_image" src="ACM.png" alt="Card Image">
          <div class="c-card_body">
            <h2 class="c-card_title">Video Game CNN's
              <button id="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                GitHub
              </button>
            </h2>
            <h5 class="c-card_secondary-title"></h5>
            <hr>
            <p class="c-card_text">
              Construct an Algorithm for a Game
            </p>

            <div class="grid grid-cols-2 gap-6">
              <div>
                <h5> Front End </h5>
                <ul class=frontEnd>
                  <li> Angular</li>
                  <li> Yarn</li>
                  <li> HTML</li>
                  <li> CSS</li>
                </ul>
              </div>
              <div>
                <h5> Back End</h5>
                <ul class=backEnd>
                  <li> NGRX</li>
                  <li> Databases</li>
                  <li> Node.js</li>
                  <li> Java Script</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="o-card o-card--mod-small">
        <div class="c-card">
          <img class="c-card_image" src="ACM.png" alt="Card Image">
          <div class="c-card_body">
            <h2 class="c-card_title">HandWriting CLI
              <button id="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                GitHub
              </button>
            </h2>
            <h5 class="c-card_secondary-title"></h5>
            <hr>
            <p class="c-card_text">
              Create an app that can detect handwriting styles
            </p>

            <div class="grid grid-cols-2 gap-6">
              <div>
                <h5> Front End </h5>
                <ul class=frontEnd>
                  <li> Angular</li>
                  <li> Yarn</li>
                  <li> HTML</li>
                  <li> CSS</li>
                </ul>
              </div>
              <div>
                <h5> Back End</h5>
                <ul class=backEnd>
                  <li> NGRX</li>
                  <li> Databases</li>
                  <li> Node.js</li>
                  <li> Java Script</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <div>
      <div class="o-card o-card--mod-small">
        <div class="c-card">
          <img class="c-card_image" src="ACM.png" alt="Card Image">
          <div class="c-card_body">
            <h2 class="c-card_title">ACM Website
              <button id="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                GitHub
              </button>
            </h2>
            <h5 class="c-card_secondary-title"></h5>
            <hr>
            <p class="c-card_text">
              Build a Robust Website for the Club
            </p>

            <div class="grid grid-cols-2 gap-6">
              <div>
                <h5> Front End </h5>
                <ul class=frontEnd>
                  <li> Angular</li>
                  <li> Yarn</li>
                  <li> HTML</li>
                  <li> CSS</li>
                </ul>
              </div>
              <div>
                <h5> Back End</h5>
                <ul class=backEnd>
                  <li> NGRX</li>
                  <li> Databases</li>
                  <li> Node.js</li>
                  <li> Java Script</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ... -->
    <div>
      <div class="o-card o-card--mod-small">
        <div class="c-card">
          <img class="c-card_image" src="assets/img/ACM.png" alt="Card Image">
          <div class="c-card_body">
            <h2 class="c-card_title">Video Game CNN
              <button id="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                GitHub
              </button>
            </h2>
            <h5 class="c-card_secondary-title"></h5>
            <hr>
            <p class="c-card_text">
              Construct an Algorithm for a Game
            </p>

            <div class="grid grid-cols-2 gap-6">
              <div>
                <h5> Front End </h5>
                <ul class=frontEnd>
                  <li> Angular</li>
                  <li> Yarn</li>
                  <li> HTML</li>
                  <li> CSS</li>
                </ul>
              </div>
              <div>
                <h5> Back End</h5>
                <ul class=backEnd>
                  <li> NGRX</li>
                  <li> Databases</li>
                  <li> Node.js</li>
                  <li> Java Script</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="o-card o-card--mod-small">
        <div class="c-card">
          <img class="c-card_image" src="ACM.png" alt="Card Image">
          <div class="c-card_body">
            <h2 class="c-card_title">HandWriting CLI
              <button id="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                GitHub
              </button>
            </h2>
            <h5 class="c-card_secondary-title"></h5>
            <hr>
            <p class="c-card_text">
              Create an app that can detect handwriting styles
            </p>

            <div class="grid grid-cols-2 gap-6">
              <div>
                <h5> Front End </h5>
                <ul class=frontEnd>
                  <li> Angular</li>
                  <li> Yarn</li>
                  <li> HTML</li>
                  <li> CSS</li>
                </ul>
              </div>
              <div>
                <h5> Back End</h5>
                <ul class=backEnd>
                  <li> NGRX</li>
                  <li> Databases</li>
                  <li> Node.js</li>
                  <li> Java Script</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>