<div class="event-card-container">
    <div class="event-card-left">
        <h3 class="month">{{events[index].month}}</h3>
        <div class="day-container">
            <h1 class="day">{{events[index].day}}</h1>
        </div>
    </div>
    <div class="event-card-right-section">
        <div class="event-card-middle">
            <h2 class="event-title">{{events[index].title}}</h2>
            <p class="event-details">{{events[index].details}}</p>
        </div>
        <div class="event-card-right">
            <button class="add-to-calendar-btn">Add to Calendar</button>
        </div>
    </div>
</div>

