<!-- Projects Heading -->
<div class="projects-heading static bg-white overflow-hidden mt-24">
    <div class="max-w-screen-xl mx-auto">
        <div
            class="relative pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
        >
            <div
                class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
            >
                <div class="sm:text-center lg:text-left">
                    <h2
                        class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-5xl"
                    >
                        Projects
                    </h2>
                    <p
                        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
                    >
                        ACM @ UCM is dedicated to provided project based
                        <b>Research and Development</b> free and with nore
                        prerequirements to all UC Merced Students!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div
        class="hidden lg:block lg:absolute lg:bottom-0 lg:w-2/5 xl:w-1/3 projects-img h-0"
    >
        <img
            src="assets/img/undraw_progressive_app.svg"
            alt="progressive app"
        />
    </div>
</div>

<!-- How to Join -->
<div class="py-12 bg-white">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <p
                class="about-us-title text-base leading-6 font-semibold tracking-wide uppercase"
            >
                How to Join
            </p>
            <h3
                class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
            >
                Are you interested in joining a project?
            </h3>
            <p
                class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto"
            >
                Setup the Following 4 tools to get started!
            </p>
        </div>

        <div class="mt-10">
            <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
                <li>
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div
                                class="about-us-icons flex items-center justify-center h-12 w-12 rounded-md text-white"
                            >
                                <svg
                                    class="h-6 w-6"
                                    stroke="currentColor"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="ml-4">
                            <h5
                                class="text-lg leading-6 font-medium text-gray-900"
                            >
                                GitHub
                            </h5>
                            <p class="mt-2 text-base leading-6 text-gray-500">
                                Make sure you have a GitHub account and either
                                have
                                <a href="https://desktop.github.com/"
                                    >GitHub Desktop</a
                                >,
                                <a
                                    href="https://www.gitkraken.com/invite/fvfKix5o"
                                    >GitKraken</a
                                >
                                <b>(the recommended software)</b>, or
                                <a href="https://git-scm.com/">Git CLI</a>
                                installed on your machine.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="mt-10 md:mt-0">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div
                                class="about-us-icons flex items-center justify-center h-12 w-12 rounded-md text-white"
                            >
                                <svg
                                    class="h-6 w-6"
                                    stroke="currentColor"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="ml-4">
                            <h5
                                class="text-lg leading-6 font-medium text-gray-900"
                            >
                                Asana
                            </h5>
                            <p class="mt-2 text-base leading-6 text-gray-500">
                                Create an
                                <a href="https://asana.com/">Asana</a> account,
                                because all tasks will be placed onto our SCRUM
                                board.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="mt-10 md:mt-0">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div
                                class="about-us-icons flex items-center justify-center h-12 w-12 rounded-md text-white"
                            >
                                <svg
                                    class="h-6 w-6"
                                    stroke="currentColor"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 10V3L4 14h7v7l9-11h-7z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="ml-4">
                            <h5
                                class="text-lg leading-6 font-medium text-gray-900"
                            >
                                Text Editor
                            </h5>
                            <p class="mt-2 text-base leading-6 text-gray-500">
                                For which IDE you want to work in is completely
                                optional. However, we strongly recommend
                                <a href="https://code.visualstudio.com/"
                                    >Visual Studio Code</a
                                >, especially if you are working with multiple
                                languages.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="mt-10 md:mt-0">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div
                                class="about-us-icons flex items-center justify-center h-12 w-12 rounded-md text-white"
                            >
                                <svg
                                    class="h-6 w-6"
                                    stroke="currentColor"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="ml-4">
                            <h5
                                class="text-lg leading-6 font-medium text-gray-900"
                            >
                                Communications
                            </h5>
                            <p class="mt-2 text-base leading-6 text-gray-500">
                                All conversations between project teams will
                                exist on
                                <a
                                    class="text-blue-300 cursor-pointer hover:text-blue-800"
                                    href="https://join.slack.com/t/ucm-acm/shared_invite/zt-cyj63j4n-uZbfahTOTrlyJvKIRyEAdA"
                                    >Slack</a
                                >
                                and
                                <a
                                    class="text-blue-300 hover:cursor-pointer hover:text-blue-800"
                                    href="https://discord.gg/PFgPtMD"
                                    >discord</a
                                >
                                in their respective team channels.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Ongoing Project -->
<div class="lg:text-center mb-16">
    <p
        class="about-us-title text-base leading-6 font-semibold tracking-wide uppercase"
    >
        Project Gallery
    </p>
    <h3
        class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
    >
        On Going Projects
    </h3>
</div>
<div class="px-4">
    <div class="block md:flex md:-mx-2">
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
            <div class="bg-white rounded-lg overflow-hidden shadow relative">
                <img
                    class="h-56 w-full object-cover object-center lg:max-w-sm lg:h-auto"
                    src="assets/img/undraw_portfolio_website.svg"
                    alt=""
                />
                <div class="p-4 h-auto md:h-40 lg:h-48">
                    <a
                        href="#"
                        class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg"
                    >
                        Chapter Website
                    </a>
                    <div
                        class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm"
                    >
                        UC Merced's Official ACM Chapter Website
                    </div>
                    <div
                        class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block"
                    >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >Full Stack</a
                        >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >RESTful APIs</a
                        >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >MicroService Architecture</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
            <div class="bg-white rounded-lg overflow-hidden shadow relative">
                <img
                    class="h-56 w-full object-cover object-center lg:max-w-sm lg:h-auto"
                    src="assets/img/undraw_nakamoto.svg"
                    alt=""
                />
                <div class="p-4 h-auto md:h-40 lg:h-48">
                    <a
                        href="#"
                        class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg"
                    >
                        Video Game CNN
                    </a>
                    <div
                        class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm"
                    >
                        🐦Build a controlled neural network to allow an ai to
                        win every time at flappy bird, pacman, space invaders 🐤
                    </div>
                    <div
                        class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block"
                    >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >CNN</a
                        >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >Tensorflow</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
            <div class="bg-white rounded-lg overflow-hidden shadow relative">
                <img
                    class="h-56 w-full object-cover object-center lg:max-w-sm lg:h-auto"
                    src="assets/img/undraw_observations.svg"
                    alt=""
                />
                <div class="p-4 h-auto md:h-40 lg:h-48">
                    <a
                        href="#"
                        class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg"
                    >
                        Handwriting ML
                    </a>
                    <div
                        class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm"
                    >
                        Determining what written text says regardless of the
                        language it is written in.
                    </div>
                    <div
                        class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block"
                    >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >Machine Learning</a
                        >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >OCR</a
                        >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >Neural Networks</a
                        >
                        <br />
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >Image Recognition</a
                        >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >Classification</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Archived Projects -->
<div class="lg:text-center mb-16">
    <p
        class="about-us-title text-base leading-6 font-semibold tracking-wide uppercase"
    >
        Project Gallery
    </p>
    <h3
        class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
    >
        Archived Projects
    </h3>
</div>
<div class="px-4">
    <div class="block md:flex md:-mx-2">
        <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
            <div class="bg-white rounded-lg overflow-hidden shadow relative">
                <img
                    class="h-56 w-full object-cover object-center lg:max-w-sm lg:h-auto"
                    src="assets/img/undraw_updated_resume.svg"
                    alt=""
                />
                <div class="p-4 h-auto md:h-40 lg:h-48">
                    <a
                        href="#"
                        class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg"
                    >
                        GPA Calculator
                    </a>
                    <div
                        class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm"
                    >
                        Improving the old GPA calculator system used by advisors
                        at UC Merced
                    </div>
                    <div
                        class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block"
                    >
                        <a
                            class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700"
                            href="#"
                            >NPM Package</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
