<div>
  <div  class="flex justify-between px-5 py-5">
        <div class="inline-flex">
            <button class="bg-blue-500 rounded-l-lg hover:bg-blue-700 text-white font-bold py-2 px-4" (click)="previousButton($event)">Prev</button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4" (click)="todayButton($event)">Today</button>
            <button class="bg-blue-500 rounded-r-lg hover:bg-blue-700 text-white font-bold py-2 px-4" (click)="nextButton($event)">Next</button>
        </div>
            <div class="text-3xl font-bold" >{{ todayString }}</div>
            <div class="inline-flex">
        <button class="bg-blue-500 rounded-l-lg hover:bg-blue-700 text-white font-bold py-2 px-4">Month</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4">Week</button>
        <button class="bg-blue-500 rounded-r-lg hover:bg-blue-700 text-white font-bold py-2 px-4">Day</button>
            </div>
    </div>

    <!-----------------------Calendar using Table elements----------------->
<div>
    <table class="?" id="calendar">
      <thead>
        <tr class="?">
          <th class="px-4 py-2">Sunday</th>
          <th class="px-4 py-2">Monday</th>
          <th class="px-4 py-2">Tuesday</th>
          <th class="px-4 py-2">Wednesday</th>
          <th class="px-4 py-2">Thursday</th>
          <th class="px-4 py-2">Friday</th>
          <th class="px-4 py-2">Saturday</th>
        </tr>
      </thead>
      <tbody class="flex-1" id="calendar-content">
      </tbody>
    </table>
      </div>
</div>