.navbar {
  position: absolute;
  width: 100%;
  height: 82px;
  top: 0px;
  left: 0px;
  background: var(--landing-background);
  box-shadow: 0px 10px 30px rgba(112, 144, 176, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;

  &__logo {
    width: 100px;
    height: 66px;
    cursor: pointer;
    margin-right: auto;
  }

  &__links {
    list-style: none;
    display: flex;

    li {
      margin: 0 1rem;
      padding: 2% 0% 0% 0%;

      a {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.15em;
        text-align: center;
        text-decoration: none;
        color: var(--background);
      }

      > .bar {
        width: 100%;
        height: 11px;
        background: var(--tertiary);
        backdrop-filter: blur(20px);
        border-radius: 9px;
        margin: 5px 0 0 0;
      }
    }
  }
}

.footer {
  background-color: var(--background);
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 0;
  display: inline-block;
  vertical-align: top;

  &__wave {
    z-index: 1;

    &__bottom-padding {
      margin-top: -4px;
      background-color: var(--landing-background);
      width: 100%;
      height: 10vh;

      @media screen and (max-width: 320px) {
        height: 20vh;
      }

      @media screen and (min-width: 321px) and (max-width: 400px) {
        height: 15vh;
      }

      @media screen and (min-width: 401px) and (max-width: 800px) {
        height: 20vh;
      }

      @media screen and (min-width: 401px) and (max-width: 800px) and (min-height: 800px) {
        height: 10vh;
      }
    }
  }

  &__container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 10vw;
    bottom: 0;
    z-index: 2;

    &__navigation {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.75rem;
      overflow: visible;

      &__social {
        color: var(--text);
        border: none;
        margin: 0 0.75rem;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 9999px;
        height: clamp(2vw, 3rem, 10vw);
        width: clamp(2vw, 3rem, 10vw);
        display: inline-block;
        transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
          scaleX(1) scaleY(1);

        &:hover {
          color: var(--text);
          transform: scaleX(1.25) scaleY(1.25);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        &__link {
          font-size: 1.25rem;
          line-height: 1.75rem;

          &,
          &:focus,
          &active,
          &hover,
          &:visited {
            color: inherit;
            text-decoration: none;
          }
        }

        @media screen and (max-width: 320px) {
          width: 2em;
          height: 2em;
          margin: 0 0.25em;
        }

        @media screen and (min-width: 321px) and (max-width: 799px) {
          width: 2em;
          height: 2em;
        }
      }
    }

    &__copyright,
    &__credits {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.15em;
      text-align: center;
      text-decoration: none;
      color: var(--background);
    }

    &__copyright {
      line-height: 40px;

      @media screen and (max-width: 400px) {
        font-size: 12px;
      }
    }

    &__credits {
      line-height: 25px;
      margin-bottom: -20px;

      @media screen and (max-width: 400px) {
        font-size: 10px;
      }
    }
  }
}
