.navbar {
  &-button {
    &:focus {
      background-color: #ffa265;
    }
  }

  &-items {
    .navbar-item {
      &:focus {
        background-color: #ffa265;
      }

      &:hover {
        background-color: #ffc26f;
        cursor: pointer;
      }
    }
  }
}

.notifcation-icon {
  &:hover {
    color: #ffc26f;
  }
}

.social {
  background: #ffc26f;
}
