<!-- Navbar -->
<header class="navbar">
  <img src="assets/acm_logo.png" alt="ACM Logo" class="navbar__logo" />
  <nav>
    <ul class="navbar__links">
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <div class="bar" *ngIf="route === ''"></div>
      </li>
      <li>
        <a routerLink="/events" routerLinkActive="active">Events</a>
        <div class="bar" *ngIf="route === '/events'"></div>
      </li>
      <li>
        <a routerLink="/sigs" routerLinkActive="active">Sigs</a>
        <div class="bar" *ngIf="route === '/sigs'"></div>
      </li>
      <li>
        <a routerLink="/resources" routerLinkActive="active">Resources</a>
        <div class="bar" *ngIf="route === '/resources'"></div>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<!-- Footer -->
<footer></footer>
