.navbar {
    &-button {
        &:focus {
            background-color: #FFA265;
        }
    }

    &-items {
        .navbar-item {
            &:focus {
                background-color: #FFA265;
            }

            &:hover {
                background-color: #FFC26F;
                cursor: pointer;
            }
        }
    }
}

.notifcation-icon {
    &:hover {
        color: #FFC26F;
    }
}