<main class="home">
  <section class="home__landing">
    <div class="home__landing__content">
      <h4 class="home__landing__content__sub-title">Welcome to</h4>
      <h1 class="home__landing__content__title">
        Association for Computing Machinery
      </h1>
      <p class="home__landing__content__text">
        ACM, the world’s largest educational and scientific computing society,
        delivers resources that advance computing as a science and a profession.
        We are just your friendly neighborhood student chapter at UC Merced.
      </p>
      <div class="home__landing__content__button">
        <div class="home__landing__content__button__front">
          <a class="home__landing__content__button__front__text" href="http://bit.ly/acm-ucm-discord">Discord</a>
        </div>
        <div class="home__landing__content__button__behind"></div>
      </div>
    </div>
    <img src="assets/landing_image.svg" alt="Landing Code" />
  </section>
  <!-- SVG Credits to https://getwaves.io/ -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#00e1bfcc"
      fill-opacity="1"
      d="M0,160L40,170.7C80,181,160,203,240,186.7C320,171,400,117,480,85.3C560,53,640,43,720,69.3C800,96,880,160,960,165.3C1040,171,1120,117,1200,80C1280,43,1360,21,1400,10.7L1440,0L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"
    ></path>
  </svg>
  <section class="home__about-us">
    <div>
      <h1>About Us</h1>
      <div class="bar"></div>
    </div>
  </section>
</main>
