$animation-time: 2s;
$animation-duration: infinite;

.home {
  background-color: var(--background);
  width: 100%;
  height: auto;

  &__landing {
    background-color: var(--landing-background);
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr minmax(150px, 25%);
    padding: calc(82px + 8vh) 10vw 0 10vw;
    overflow-y: hidden;

    &__content {
      &__sub-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.15em;
        color: var(--secondary);
      }

      &__title {
        font-family: "Bebas Neue", cursive;
        font-size: 45px;
        line-height: 54px;
        letter-spacing: 0.08em;
        color: var(--headline);
        padding: 1rem 0;
      }

      &__text {
        font-family: "Montserrat", sans-serif;
        font-size: 23px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: var(--text);
        width: 85%;
        margin-bottom: 4vh;
      }

      &__sub-title,
      &__title,
      &__text {
        font-style: normal;
        display: flex;
        align-items: center;
      }

      &__sub-title,
      &__title {
        font-weight: normal;
      }

      &__button {
        width: 238px;
        height: 80px;
        position: relative;

        &__front {
          display: grid;
          place-items: center;
          background-color: var(--button);
          box-shadow: -6px -6px 10px rgba(61, 169, 252, 0.2),
            6px 6px 10px rgba(0, 29, 53, 0.25);
          border-radius: 30px;
          z-index: 2;

          &__text {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            color: var(--background);
            text-decoration: none;
          }
        }

        &__behind {
          background: rgba(245, 245, 245, 0.75);
          backdrop-filter: blur(20px);
          border-radius: 26px;
          z-index: 1;
          left: 15px;
          top: 15px;
        }

        &__front,
        &__behind {
          width: 180px;
          height: 64px;
          position: absolute;
        }
      }
    }

    &__animation {
      width: 440px;
      height: 467px;

      &__top-page,
      &__bottom-page {
        animation: MoveUpDown $animation-time linear $animation-duration;

        &__bar {
          animation: MoveDownUp $animation-time linear $animation-duration;
        }
      }

      &__comment {
        animation: MoveDownUp $animation-time linear $animation-duration;
      }
    }
  }

  &__about-us {
    display: grid;
    place-items: center;

    &__container {
      display: grid;
      grid-template-columns: 1fr minmax(500px, 25%);
      padding: 10vh 10vw;

      &__text {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: var(--text-inverted);
        padding-right: 5rem;
      }

      &__image {
        width: 700px;
        height: 450px;
        position: relative;

        &__front {
          display: grid;
          place-items: center;
          border-radius: 30px;
          z-index: 2;
          overflow: hidden;
        }

        &__behind {
          background-color: var(--landing-background);
          backdrop-filter: blur(20px);
          border-radius: 50px;
          z-index: 1;
          left: 35px;
          top: 35px;
        }

        &__front,
        &__behind {
          width: 500px;
          height: 385px;
          position: absolute;
        }
      }
    }
  }

  &__goals {
    display: grid;
    place-items: center;

    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10vh 10vw;

      &__cell {
        flex-grow: 0.25;
        width: calc(50% - 10vw);
        display: flex;
        flex-direction: row;
        margin: 5vh 2vw;

        @media (max-width: 760px) {
          width: calc(100% - 10vw);
        }

        img {
          object-fit: contain;
          width: clamp(50px, 100px, 150px);
        }

        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;

          &__heading {
            font-family: "Bebas Neue", cursive;
            font-size: 20px;
            line-height: 30px;
            color: var(--headline);
          }

          &__text {
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            line-height: 18px;
            color: var(--text-inverted);
          }

          &__heading,
          &__text {
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.08em;
          }
        }
      }
    }
  }

  &__sigs {
    display: grid;
    place-items: center;

    &__container {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      padding: 10vh 10vw;
      width: 100%;

      &__sig {
        background: var(--background);
        box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
        border-radius: 46px;
        height: auto;
        padding: 2ch 0;
        display: grid;
        grid-template-rows: minmax(100px, 30%) 1fr;
        place-items: center;

        img {
          width: clamp(100px, 150px, 200px);
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 15px;
          letter-spacing: 0.08em;
          color: var(--text-inverted);
          padding: 0 2ch;
          text-align: center;
        }
      }
    }
  }

  &__leadership {
    overflow: hidden;

    &__members {
      display: grid;
      place-items: center;
      padding: 10vh 10vw;
      margin: 15vh 0;
      grid-template-columns: repeat(5, 128px);
      gap: 10px;
      justify-content: center;
      transform: rotate(45deg);

      &__profile, &__blank {
        width: 128px;
        height: 128px;
        border-radius: 40px;
        padding: 0;
        overflow: hidden;


        img {
          width: 100%;
          height: auto;
          transform: rotate(-45deg);
        }
      }

      &__blank {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes MoveDownUp {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}
