.navbar {
  position: absolute;
  width: 100%;
  height: 82px;
  top: 0px;
  left: 0px;
  background: var(--landing-background);
  box-shadow: 0px 10px 30px rgba(112, 144, 176, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  overflow: hidden;
  z-index: 5;

  &__logo {
    width: 100px;
    height: 66px;
    cursor: pointer;
    margin-right: auto;
  }

  &__links {
    list-style: none;
    display: flex;

    li {
      margin: 0 1rem;
      padding: 2% 0% 0% 0%;

      .inactive {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.15em;
        text-align: center;
        text-decoration: none;
        color: var(--background);
        z-index: 1;
        display: inline-block;
      }

      // .active {
      //   width: 100%;
      //   height: 11px;
      //   background: var(--tertiary);
      //   backdrop-filter: blur(20px);
      //   border-radius: 9px;
      //   margin: 5px 0 0 0;
      // }

      .active {
        border-bottom: 5px solid #29b6f6;
        transition: border-bottom 0.5s ease-in-out;
      }
    }
  }
}
