.navbar {
  position: absolute;
  width: 100%;
  height: 82px;
  top: 0px;
  left: 0px;
  background: var(--landing-background);
  box-shadow: 0px 10px 30px rgba(112, 144, 176, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  overflow: hidden;
  z-index: 5;

  &__logo {
    width: 100px;
    height: 66px;
    cursor: pointer;
    margin-right: auto;
  }

  &__links {
    list-style: none;
    display: flex;

    li {
      margin: 0 1rem;
      padding: 2% 0% 0% 0%;

      .inactive {
        font-family: "Hind", sans-serif;
        font-style: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        text-decoration: none;
        color: var(--headline);
        z-index: 1;
        display: inline-block;
      }

      // .active {
      //   width: 100%;
      //   height: 11px;
      //   background: var(--tertiary);
      //   backdrop-filter: blur(20px);
      //   border-radius: 9px;
      //   margin: 5px 0 0 0;
      // }

      .active {
        // border-bottom: 5px solid #29b6f6;
        font-weight: bold;
        // transition: border-bottom 0.5s ease-in-out;
      }
    }

    .toggle {
       display: none;
    }

    #nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow-y: hidden;
    }

    #nav-icon span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #f5f5f5;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
      top: 0px;
    }

    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
      top: 18px;
    }

    #nav-icon span:nth-child(4) {
      top: 36px;
    }

    #nav-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar {
      height: 48px;
      justify-content: space-between;
      padding: 0 28px;


      .toggle {
        display: inline;
      }
    }
  }
}
