/* Temporary fonts based on old website */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-color: rgba(0, 225, 191, 0.8);
}
