name: Build

on:
  push:
    branches:
      - react-rewrite

  pull_request:
    branches:
      - react-rewrite

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./react/

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Dependecies
        run: npm ci

      - name: Build Website
        run: npm run build

